myst-parser~=1.0.0
sphinx-copybutton~=0.5.2
sphinx-togglebutton~=0.3.2
sphinx_design~=0.4.1
numpy
aniposelib==0.4.3
ffmpeg
openpyxl
pingouin
seaborn
PyYAML
ffmpeg-python==0.2.0
imageio>=2.25.0
imageio-ffmpeg>=0.4.8
moviepy>=1.0.3
numpydoc>=1.5.0
opencv-contrib-python==4.6.0.66
opencv-python>=4.7.0.68
scipy
sphinx>=5.0
sphinx-rtd-theme>=1.2.0
matplotlib
urllib3<2.0.0
